################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/DesafioRentDelivery.API/bin/Debug/net8.0
/src/DesafioRentDelivery.API/obj
/src/DesafioRentDelivery.Application/bin/Debug/net8.0
/src/DesafioRentDelivery.Application/obj
/src/DesafioRentDelivery.Domain/bin/Debug/net8.0
/src/DesafioRentDelivery.Domain/obj
/src/DesafioRentDelivery.Infrastructure/bin/Debug/net8.0
/tests/DesafioRentDelivery.IntegrationTests/bin/Debug
/tests/DesafioRentDelivery.IntegrationTests/obj
/tests/DesafioRentDelivery.UnitTests/bin/Debug/net8.0
/tests/DesafioRentDelivery.UnitTests/obj
/src/DesafioRentDelivery.Infrastructure/obj
